.button {
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  color: white;
  background: gray;
  cursor: not-allowed;
}

.active{
    background: green;
    cursor: pointer;
}


.formPart {
  margin: 5px 10px 0;
  padding: 5px;
}
